<launch>
  <!-- <node pkg="simple_param_cpp" type="simple_param" name="simple_param" output="screen">
    <param name="robot_mass" value="4.0"/>
  </node> -->

  <rosparam command="load" file="$(find simple_launch_cpp)/config/param.yaml"/>
  <node pkg="simple_param_cpp" type="simple_param" name="simple_param" output="screen"/>
</launch>
